.header
{
    display: flex;
    height: 75px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    z-index: 100;

}
.left-section
{
    
    display: flex;
    align-items: center;
    width: 300px;
}
.youtube-logo-div
{
    padding: 2%;
    margin-left: -15px;
}

.youtube-logo
{
    height: 75px;
    width: 150px;

}
.hamburger-menu-div
{
    display: inline-block;
    margin-left: 25px;
}
.hamburger-menu-button
{
    border: none;
    background-color: black;
    
}
.hamburger-menu
{
    height: 30px;
    width: 25px;
    
}




.middle-section
{
    
    margin-left: -200px;
    display: flex;
    align-items: center;
}
.search-box-div
{
    display: flex;
    border-color: rgb(110, 113, 113);
    border-style: solid;
    border-width: 0.5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 80px;
}
.search-box
{
    width: 530px;
    height: 36px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(14, 13, 13);
    border: none;
}
.search-box::placeholder
{
    font-family:roboto,Arial, Helvetica, sans-serif;
    font-size: medium;
}
.search-button
{
    width: 70px;
    height: 40px;
    margin: 0%;
    background-color: rgb(30, 29, 29);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    
}
.search-icon-div
{
    
    border-color: rgb(85, 88, 88);
    display: flex;
    border-width: 0.5px;
    align-items: center;
    
    
    
    border-style: solid;
    height: 40px;
    width: 60px;
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   
}
.search-icon
{
    height: 25px;
    width: 25px;
    
}
.voice-search
{
    width: 40px;
    height: 40px;
    fill: white;
    background-color: rgb(32, 31, 31);
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}


.right-section
{
    
    display: flex;
    align-items: center;
}
.vieo-adding
{
    width: 24px;
    height: 24px;
    fill: white;
    margin-right: 25px;
}
.notification-icon
{
    width: 24px;
    height: 24px;
    fill: white;
    margin-right: 25px;
}
.my-profile-div
{
    margin-right: 40px;
}
.my-profile-photo
{
    height: 35px;
    width: 35px;
    border-radius: 17px;
}
       